  {% extends 'base.html' %}

  {% block content %}
  {% load static %} 

  <!-- Page Header -->
  <header class="masthead" style="background-image: url( {% static 'img/home-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Django Blog</h1>
            <span class="subheading">Bir Django Öğrenme Projesi</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in object_list %}
        <div class="post-preview">
          <a href="{% url 'post' post.pk %}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{ post.author }}</a>
            on {{ post.date|date:"F d, Y" }}
            <!--https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#date-->
            </p>
        </div>
        <hr>

      {% endfor %}


        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  {% endblock content %}