{% extends 'base.html' %} {% block content %} {% load static %}

<!-- Page Header -->
<header class="masthead" style="background-image: url( {% static 'img/home-bg.jpg' %})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Django Blog</h1>
          <span class="subheading">Bir Django Öğrenme Projesi</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in object_list %}
      <div class="post-preview">
        <a href="{% url 'post' post.pk %}">
          <h2 class="post-title">
            {{ post.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ post.subtitle }}
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">{{ post.author }}</a>
          on {{ post.date|date:"F d, Y" }}
          <!--https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#date-->
        </p>
      </div>
      <hr />

      {% endfor %}

      <!-- Pager -->
      <div class="clearfix">

        {% if is_paginated %}

          {% if page_obj.number == 1 %} <!-- ilk sayfa mı -->
            <a href="?page=2" class="btn btn-outline-info float-right">&rsaquo;</a>
          {% endif %}

          {% if page_obj.has_previous %}  <!-- öncesinde bir sayfa var mı -->
            <a class="btn btn-outline-info" href="/">&laquo;</a>
            <a href="?page={{page_obj.previous_page_number}}" class="btn btn-outline-info float-left">&lsaquo;</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %} <!--sayfa sayısı kadar for dongusune girilir-->
            {% if page_obj.number == num and page_obj.number != 1 %}
              <a href="?page={{num}}" class="btn btn-outline-info " style="margin-left: 20px; margin-right: 20px;" >&lsaquo;{{num}}&rsaquo;</a>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next and page_obj.number != 1 %} <!-- sonrasında bir sayfa var mı ve ilk sayfa degil mi -->
            <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-info float-right">&rsaquo;</a>
            <a href="?page={{page_obj.paginator.num_pages}}" class="btn btn-outline-info float-right">&raquo;</a>
          {% endif %}

        {% endif  %}
      </div>
    </div>
  </div>
</div>

<hr />
{% endblock content %}